<div>
    <header>
        <h1 class="container title">Product Sports</h1>
    </header>

    {{#each listadeproductos}}

    <div class="container">
        <div class="caja">
            <div><span>ID:</span>
                <p>{{id}}</p>
            </div>
            <div><span>Nombre: </span>
                <p>{{title}}</p>
            </div>
            <div><span>Descripcion: </span>
                <p>{{description}}</p>
            </div>
            <div><span>Precio: </span>
                <p>{{price}}</p>
            </div>
            <div><span>Thumbnails: </span>
                <p>{{thumbnails}}</p>
            </div>
            <div><span>Stock: </span>
                <p>{{stock}}</p>
            </div>
        </div>

    </div>
    {{/each}}

</div>